/* header */
.ms_bg_header{
    background-color: #2c3e50; 
}

header{
    color: #fff;
}

.ms_subheader{
    margin-top: 40px;
}

.navbar-toggler{
    border-color: #fff;
}

.navbar-toggler-icon{
    filter: invert(43%) sepia(3%) saturate(208%) hue-rotate(169deg) brightness(94%) contrast(85%);
}

.ms_bg_green{
    background-color: #1abc9c;
}

.ms_star{
    display: flex;
    align-items: center;
}

.ms_line{
    width: 100px;
    height: 3px;
    margin: 0 10px;
}

.ms_white{
    color: #fff;
    background-color: #fff;
}

.ms_black{
    color: #000;
    background-color: #000;
}

/* sections */

/* footer */
.top_footer{
    background-color: #3a546d;
    /* debug */
    /* min-height: 200px; */
}

.ms_font_green{
    color: #1abc9c;
}

.ms_circle{
    width: 50px;
}

.sub_footer{
    background-color: #2c3e50;
    /* debug */
   
}

.last{
    /* height: 70px; */
}