.container_header{
    height: 90px;
    background-color: #2c3e50;  
    display: flex;
    justify-content: center;
    align-items: center;
}



.block{
    /* debug */
    height: 30px;
    border: 1px solid #000;
}

.sub_header{
    background-color: #1abc9c;
    /* debug */
    min-height: 490px;
}

.logo{
    /* debug */
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
}