.ms_bg_header{
    background-color: #2c3e50; 
}

header{
    color: #fff;
}

.ms_subheader{
    margin-top: 40px;
}

.ms_bg_green{
    background-color: #1abc9c;
}

.ms_star{
    display: flex;
    align-items: center;
}

.ms_line{
    width: 100px;
    height: 3px;
    margin: 0 10px;
}

.ms_white{
    color: #fff;
    background-color: #fff;
}

.ms_black{
    color: #000;
    background-color: #000;
}



/* .testo_subheader{
    width: 300px;
    height: 70px;
    border: 1px solid #000;
} */

.box{
    /* debug */
    border: 1px solid #000;
    min-height: 300px;
}

.paragraph{
    /* debug */
    border: 1px solid #000;
    min-height: 250px;
}

.top_footer{
    background-color: #3a546d;
    /* debug */
    min-height: 200px;
}

.prova{
    /* debug */
    border: 1px solid #000;
    min-height: 80px;
}

.sub_footer{
    background-color: #2c3e50;
    /* debug */
    height: 70px;
}

.last{
    height: 70px;
}